.info
  display: grid
  grid-template-columns: 1fr
  margin-top: 60px

.row
  display: grid
  width: 100%
  grid-template-columns: 1fr 1fr
  gap: 40px 100px
  justify-content: space-between
  margin-top: 60px

.body
  display: grid
  grid-template-columns: 1fr

.listGroup
  display: grid
  grid-template-columns: auto 1fr
  gap: 0 100px

.list
  display: flex
  flex-direction: column
  gap: 4px 0

  & span
    margin-left: 5px

.title
  margin-bottom: 23px

.wrapper
  display: grid
  grid-template-columns: auto 1fr
  gap: 0 30px
  align-items: center
  margin-top: 60px

.borders
  display: grid
  gap: 20px
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))

.borderLink
  display: block
  text-align: center
  padding: 4px 1.4px